<div>
    <div id="title">admin settings</div> 
    <table id='admin_settings'>
        <tr>
            <td>lock</td>
            <td>
                <div id="lock_switch" class="toggler">
                    <div class="toggler_left">on</div>
                    <div class="toggler_right">off</div>
                </div>
            </td>
        </tr>
    </table>
</div>
