#control_panel {
    position: absolute;
    top: 5px;
    left: 20px;
    transition: all 700ms ease;
    background-color: transparent;
    z-index: 10;
}

#control_panel input {
    opacity: 0.8;
    box-shadow:0px 0px 10px #000000; 
    margin: 0px;
    border-width: 1px;
    border-color: #222222;
    border-style: solid;
    width: 150px;
    transition: all 700ms ease;
}
#control_panel:hover {
    z-index: 11;
}
#control_panel:hover input {
    opacity: 1.0;
    width: 200px;
}

#control_panel input, .rollout_item {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

#rollout_menu {
    display: none;
    overflow: hidden;
    z-index: 10;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow:0px 0px 10px #000000; 
}
#rollout_menu:hover {
    cursor:pointer;
}

.rollout_item {
    padding-top: 5px;
    width: 200px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #666666;
    background-color: #ffffff;
    opacity: 0.8;
    height: 18px;
    transition: all 500ms ease;
    font-size: 13px;
}

.rollout_item .description {
    padding-top: 4px;
    font-size: 11px;
}

.active_rollout_item {
    transition: all 500ms ease;
    opacity: 0.99;
    height: 45px;
}

table {
    margin-top: 20px;
}
