@font-face {
    font-family: Quicksand;
    src: url("/webchat/font/Quicksand-Regular.otf");
}

#screen, #top_panel {
    min-width: 600px;
}

#screen {
    position:absolute;
    min-height: 500px;
    top: 0px;
    left: 0px;
    height: 100%;
}

#top_panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    padding-top: 15px;
    background-color: #222222;
    color: #dadada;
    z-index: 3;
    text-align: center;
    box-shadow:0px 10px 55px #000000; 
    opacity: 1;
    transition: all 1s ease;
}

#top_panel:hover {
    background-color: #333333;
}

.wrap {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.panel {
    width: 25%;
    height: 100%;
    float: left;
    color: #dadada;
    font-family: "Century Gothic", Quicksand;
    font-size: 14px;
    opacity:1;
    transition: all 1s ease;
    overflow: hidden;
}

.panel:hover {
    opacity:0.9;
}

.panel:hover .picture, .panel:hover .background {
    transform:rotate(0);
    -webkit-transform:rotate(0);
}
.panel:hover .picture {
    opacity: 1.0;
}

.label {
    height: 30%;
    text-align: center;
}

.label .text {
    padding-top: 120px;
}

.inner_panel{
    position: relative;
    padding-left: 15px;
    text-align: justify;
    height: 45%;
    border-bottom: 1px dotted;
}

.description {
    height:25%;
    display: table;
}

.description .text {
    padding-left: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    display: table-cell;
    vertical-align: bottom;
}

.short {
    display: none !important;
}
@media screen and (max-height: 500px), screen and (max-width: 900px) {
    .full {
        display: none !important;
    }
    .short {
        display: table-cell !important;
    }
}

#white_panel {
    position: relative;
    left: 0px;
    background-color: #dadada;
    z-index: 0;
    max-width: 100%;
    z-index: 1;
    text-align: justify;
    padding-top:80px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:80px;
    box-shadow:0px 0px 55px #000000; 
}


.detail_description {
    width: 100%;
    height: 100%;
    color: #dadada;
    font-family: "Century Gothic", Quicksand;
    font-size: 19px;
    display: table;
}

.detail_description .logo {
    opacity: 0.35;
    width: 256px !important; 
    height: 256px !important;
    background-color: white;
    transition: all 750ms ease;
    border-radius: 15px;
    background-size: 180px 195px;
    background-repeat: no-repeat;
    background-position: center;
}
.input_wrap{
    position: relative;
    width: 420px;
}
.input_label{
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: 3px;
    font-family: Arial;
    transition: all 750ms ease;
}
input:hover + .input_label {
    opacity: 0.1;
}
.detail_description input {
    padding-left:15px;
    font-size: inherit;
    width: 400px;
    border: solid;
    border-width: 1px;
    border-color: #dadada;
    border-radius: 5px;
    transition: all 750ms ease;
    color: #aaaaaa;
    color: rgba(200, 200, 200, 0.5);
}
.detail_description input:hover, .detail_description input:focus {
    box-shadow:0px 0px 10px #FFFFFF; 
    color: #dadada;
}

#chat_with_friends input {
    background-color: #84334C;
}
#share_screen input {
    background-color: #C13F66;
}
#a input {
    background-color: #955669;
}
#a input {
    background-color: #B13F66;
}

.inside {
    padding-top: 25px;
    display: table-cell;
    vertical-align: middle;
}

.padded {
    margin-top: 10px;
}

.middle_align > div{
    max-width: 650px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flag {
    background-color: #C13F66;
    padding: 2px;
    color: inherit;
    font-family: courier;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #dadada;
    font-size: 13px;
    max-width: 400px !important;
}

.button_box button {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #dadada;
    transition: all 500ms ease;
    font-size: 17px;
    width: 370px;
}

#room_box button:hover {
    background-color: #84334C;
}
#random_room_box button:hover {
    background-color: #955669;
}
#share_screen button:hover {
    background-color: #B13F66;
}

.background, .picture {
    transform:rotate(7deg);
    -webkit-transform:rotate(7deg);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    transition: all 750ms ease;
    left: 50%;
    margin-left: -100px;
}
.background {
    opacity: 0.1;
    background-color: white;
    box-shadow:0px 0px 55px #000000; 
}
.picture {
    opacity: 0.35;
    background-size: 120px 135px;
    background-repeat: no-repeat;
    background-position: center;
}
.rh_pic {
    background-image: url("/webchat/images/random_hookup.png");
}
.ch_pic {
    background-image: url("/webchat/images/chat_friends.png");
}
.bw_pic {
    background-image: url("/webchat/images/browsers.png");
}

#footer {
    width: 100%;
    height: 30px;
    padding-top: 15px;
    background-color: #222222;
    color: #dadada;
    text-align: center;
    text-size: 12px;
    box-shadow:0px 10px 55px #000000; 
    opacity: 1;
    transition: all 1s ease;
}

#footer a, .detail_description a {
    color: #dadada;
}
