html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #222222;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#screen {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: relative;
}

#curtain {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #222222;
    z-index: 9;
}

#main_video {
    height: 100%;
    width: 95%;
    text-align: center;
}

#video_buff {
    top: 5px;
    right: 5px;
    position: absolute;
}
.big_video {
    width: 100%;
    height: 99%;
}

.small_video_frame, .small_video {
    width: 160px;
}

.small_video_frame {
    position: relative;
}

.label {
    position: absolute;
    border-radius: 5px;
    padding: 2px;
    bottom: 5px;
    right: 5px;
    background-color: white;
    opacity: 0.85;
    z-index: 1;
    margin: 0px;
    padding: 2px;
    outline: 0px;
    border: none;
    font: inherit;
    font-family: monospace;
    overflow: hidden;
    width: auto;
    max-width: 140px;
    transition: all 700ms ease;
}

.label:hover {
    cursor: default;
}
#myself .label:hover {
    opacity: 1;
    cursor: text;
}

.small_video {
    margin: 0px;
    padding: 0px:
    height: 120px;
    z-index: 0;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.click_link {
    padding-top: 10px;
    border-bottom: 1px black dotted;
    display: inline-block; /*not expand width*/
}

.click_link:hover {
    cursor: pointer;
}

.draggable {
    height: 10px;
    width: 100%;
    cursor: move;
}
