#settings_window, #message_window, #ask_key_window, .dialog_window {
    z-index: 10;
    opacity: 0.95;
    box-shadow:0px 0px 10px #000000; 
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    position: absolute;
    overflow: hidden;
    border-radius: 3px;
    font-size: 13px;
}
#message_window, #ask_key_window, .dialog_window {
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -140px;
    width: 280px;
}
#settings_window {
    top: 10%;
    left: 15%;
    visibility: hidden;
}

.description {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#settings_window .content {
    width: 450px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
#settings_window .content {
    border-width: 1px;
    border-color: black;
}

.button {
    border-style: solid;
    border-color: #222222;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    display: inline-block; /*not expand width*/
    transition: background-color 500ms ease;
}

.button:hover {
    background-color: #AAAAAA;
    cursor:pointer;
}

#title {
    font-size: 18px;
    border-bottom-style: dotted;
    padding:7px;
    margin-bottom:13px;
    border-bottom-width: 1px;
}

.select_set, .switch {
    height: 25px;
    width: 150px;
    margin:5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    overflow: hidden;
}
.select_set:hover, .switch:hover {
    background-color: #EFFFEF;
    border-color: #006600;
}

.slider {
    cursor: pointer;
    border: 1px solid #666666;
    border-radius: 5px;
    width: 90px;
    height: 15px;
    background: #FFDDDD;
    overflow: hidden;
}
.slider .control {
    border-right: 1px solid #666666;
    height: 15px;
    background: #DDFFDD;
}

.toggler {
    background: #999999;
    cursor: pointer;
    border: 1px solid #666666;
    border-radius: 5px;
    width: 60px;
    height: 15px;
    overflow: hidden;
}

.disabled {
    opacity: 0.3;
}

.toggler_left, .toggler_right {
    text-align: center;
    height: 100%;
    float: left;
    overflow: hidden;
    transition: width 500ms ease;
    width: 0px;
}
.toggler_left {
    background: #DDFFDD;
    margin-right: 15px;
}
.toggler_right {
    background: #FFDDDD;
}
.toggler_on {
    width: 45px;
}
#audio_video_settings td {
    padding-right: 10px;
}
